body {
  font-family: "Courier New", Courier, monospace;
  background: url('https://media0.giphy.com/media/l3q2RgN7WUjeUUXm0/200w.webp?response_id=5921eeeda363e824407de8f8#18-grid3');
  background-size: cover;
  height: 100%;
  color: #19ec99;
}

section, div {
  height: 200px;
}

div {
  display: inline-block;
  float: left;
  width: 33.33%;
  border: 4px;
  border-radius: 100px;
}

.reset{
  font-size:20px;
}

#scoreboard p {
  display: inline-block;
  float: left;
  width: 50%;
  line-height: 200px;
  text-align: center;
}

#messages p {
  line-height: 200px;
  text-align: center;
}

#moves div {
  text-align: center;
  line-height: 200px;
}

h1 {
  font-size: 50px;
  text-align: center;
}

section {
  max-width: 800px;
  margin: 0 auto;
}

#myForm{
  display:inline-block;
  margin-left: 70px;
}
#options{
  margin-top:30px;
  text-align: center;
}
